.text-color-white {
	color: #efefef;
}

.text-color-actionbar-gray {
	color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.text-gray {
	color: #999;
}

.background-content {
	background-color: rgb(225,225,225); 
}

.background-night {
	background-color: #18212a;
}

.background-day {
	background-color: #76a7fa;
}

.background-white {
	background-color: #fff;
}

.yellow {
	color: #fbd20f;
}

.white {
	color: #fff;
}

.darkGray {
	color: #454545;
}